apiVersion: apps/v1
kind: Service
metadata:
  name: nginx-service
spec:
  selector:
    app: nginx
  type: NodePort
  ports:
    - name: http
      port: 80
      targetPort: http # 指向 pod 中叫做 http 的端口
      nodePort: 30007
